{% extends 'base.html' %}

{% block title %}Главная - TechTalentHub{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4 mt-5">Добро пожаловать в TechTalentHub!</h1>
        <p class="lead">Система автоматизации HR-процессов для Битрикс24</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Онбординг сотрудников</h5>
                <p class="card-text">Управление процессом адаптации новых сотрудников, чек-листы и назначение наставников.</p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Управление отпусками</h5>
                <p class="card-text">Заявки на отпуск, согласование с руководителем и календарь команды.</p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}